header{
    display: flex;    
    font-family: 'Odibee Sans', cursive;
    align-items: center;
    justify-content: center;
    background-color: #3b69a1;
}
#header-logo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1{
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #F1DC5C;
    text-shadow: 2px 2px black;
}
header h2{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #F1DC5C;
    text-shadow: 2px 2px black;
}
header img{
    width: 125px;
    height: 125px;
    margin-right: 20px;
}
#top-nav-bar{
    background-color: #2A60A0
}

#top-nav-bar-menu{
    display: flex;  
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Odibee Sans', cursive;
    font-size: 26px;
}

.top-nav-bar-menu-item{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.top-nav-bar-menu-item:hover{
    background-color: #111111;
}

footer{
    background-color: #3b69a1
}

/*Register Form*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  
  #register-section{
  /*   border:solid black; */
    display: -webkit-flex;
    display: flex;
    height: 100%;
    background-color: #3b69a1;
  }
  
  #register-section-form{
  /*   border:solid black; */
  font-family: 'Odibee Sans', cursive;
    background-color:white;
    margin:50px auto;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    width:25%;
    min-width:400px;
    border-radius:5px;
    height: auto;
  }
  
  
  
  .formElement{
    width:90%;
  }
  
  
  
  .formInstructionsDiv{
    width:100%; 
    padding:15px 0;
    background-color:#f8e76e;
    border-radius:5px;
    border-bottom: solid #f8e76e; 
  }
  
  .formInstructionsDiv h2{
    margin-left:5%;
    font-size:3em;
    font-weight:lighter;
  }
  
  .formInstructionsDiv p{
    margin-left:5%;
    font-size:1em;
    margin-top: 10px;
  }
  .fillContentDiv{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex-grow:1;
    margin-top:10px;
    margin-bottom: 82px;
    height:280px;
    
    
  }
  
  .formContentElement{
    min-width:100%;
  }
  
  .names{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  
  .names .inputRequest{
    width:47.5%;
    min-width:150px;
  }

.inputRequest{
  /*   margin-bottom:20px; */
  font-family: 'Odibee Sans', cursive;
  padding:15px;    
  font-size:1.2em;
  background-color: #f2f2f2;
  border-style:none;
  border-radius:5px;
  margin-top: 10px;
}
  
  .inputRequest:focus{
    border-style:solid;
    border: 1px;
    border-color: #0d6380;
  }
  
  
  .submitButton{
    width:48%;
    height:100%;
    background-color: #0099cc;
    border-style:none;
    color:white;
    font-size:1.2em;
    font-weight:800;
    cursor:pointer;
    border-radius:5px;
  }
  
  .submitButton:hover{
    background-color:#1cacdd;
  }
  .submitButtonDiv{
    display: flex;
    justify-content:space-between;
    margin-top: 15px;
    height:45px;
    margin-bottom:15px;    
  }